* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
  text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: #fefcf2;

}

.wrap {
    width: 300px;
    margin: 10px auto;
    border: 1px double #caddc2;

    border: 1px solid #9f6ad1;
    border-radius: 5px;
}

input {
    display: block;
    min-width: 75px;
    padding: 4px;
    margin: 4px;
    border: 1px solid #9f6ad1;
    border-radius: 5px;
}

button {
    display: block;
    min-width: 75px;
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
}

.names {
    border: 1px double #bdd3db;
    min-height: 18px;
    padding: 4px;
    margin: 4px;
 
    border: 1px solid #9f6ad1;
    border-radius: 5px;
}

span {
    margin: 5px;
    
}







